@import "tailwindcss";

:root {
  /* #Colors */
  --orange : hsl(26, 100%, 55%);
  --pale_orange : hsl(25, 100%, 94%);
  --very_dark_blue : hsl(220, 13%, 13%);
  --dark_grayish_blue: hsl(219, 9%, 45%);
  --grayish_blue: hsl(220, 14%, 75%);
  --light_grayish_blue: hsl(223, 64%, 98%);
  --blackish: hsla(0, 0%, 0%, 0.75);
}

.kumbh_font {
  font-family: "Kumbh Sans", sans-serif;
}

.button {
  border: none;
  background: var(--orange);
  cursor: pointer;
 }

.button:hover {
  background: hsl(26, 100%, 65%);
}

 .btn_shadow {
  box-shadow: 0px 14px 56px -11px var(--orange);
 }

 .element::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2rem;
  width: 100%;
  height: 4px;
  background-color: var(--orange);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show border on hover */
.element:hover::after {
  opacity: 1;
}

/* set light bg color on selected thumbnail */
.selected::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(240, 240, 240, 0.6); 
  pointer-events: none;
}